body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center; /* コンテンツを中央寄せに */
}

.container-fluid {
}

.f-1 {
    flex: 1; /* 各ボックスが均等な幅になるように */
}

h3 {
    color: #333;
}

.box {
    position: relative;
    width: 100%; /* ボックスの幅を最大に */
    height: 150px; /* 打席の高さを少し大きく */
    border: 2px solid black;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.box-header {
    font-size: 2.0rem;
    background-color: black; /* 背景色を黒に */
    color: white; /* 文字色を白に */
    width: 100%; /* 全幅を取るように */
    padding: 1px 0; /* 上下に少し余白を持たせる */
    position: absolute; /* 絶対位置指定 */
    top: 0; /* ボックスの最上部に配置 */
    left: 0; /* ボックスの最左部から配置 */
}


.box-body {
    padding: 0 5px;
    margin-top:3.4rem;
    font-size: 2.0rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.box-body.inactive {
    color: lightgray;
}

#errorToast {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    max-width: 400px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 1px solid #dc3545;
}

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: flex;          /* 追加 */
    flex-direction: column; /* 追加 */
}

#loading-overlay .loading-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 3em;
}

#loading-overlay p {
    font-weight: bold;  /* テキストを太くする */
}


.loading-text {
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center; /* 追加 */
}

.loading-text span {
    margin-left: 5px;
    animation: dot 1.4s infinite;
    animation-delay: calc(.2s * var(--i));
}

#loading-overlay .loading-content p .loading-dots span {
    display: inline-block;
    margin-left: 2px;
    font-size: 2em;
    line-height: 1.5;
    animation: dotFlashing 1.5s infinite linear alternate;
}

#loading-overlay .loading-content p .loading-dots span:nth-child(2) {
    animation-delay: 0.2s;
}

#loading-overlay .loading-content p .loading-dots span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes dotFlashing {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}



.loading-spinner {
    display: none;
    position: absolute;
    top: 68%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px; /* 上記のサイズの半分 */
    margin-left: -25px; /* 上記のサイズの半分 */
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.flashing {
    animation: flashRedWhite 1s infinite;
}

@keyframes flashRedWhite {
    0% {background-color: lightcoral;}
    50% {background-color: white;}
    100% {background-color: lightcoral;}
}

/* モーダルのスタイル調整 */
.modal-title {
    font-size: 2.0rem;
    color: #333;
}

.modal-body {
    font-size: 1.5rem;
}

.modal-footer button {
    font-size: 1.5rem;
}

.modal-body h6 {
    font-size: 1.5rem;
    color: #555;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

#weekday-timers button {
    font-size:1.5rem;
}

#holiday-timers button {
    font-size:1.5rem;
}

.modal-dialog {
    max-width: 70%; /* モーダルの最大幅を画面の90%に設定 */
    margin: 30px auto; /* 上下のマージンを30pxに設定 */
}