<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/styles.css">
    <title>ゴルフ練習場 タイマーシステム</title>
</head>

<body class="ml-3 mr-3">
    <div class="container-fluid m-5">
        <div class="row pt-3">
            {%- for i in range(1, 10) %}
                <div class="f-1 p-1">
                    <div class="box" data-box-id="{{ i }}">
                        <div class="box-header">{{ i }}</div>
                        <div class="box-body">00:00</div>
                    </div>
                </div>
            {%- endfor %}
        </div>
        <div class="row mt-3">
            {%- for i in range(10, 19) %}
                <div class="f-1 p-1">
                    <div class="box" data-box-id="{{ i }}">
                        <div class="box-header">{{ i }}</div>
                        <div class="box-body">00:00</div>
                    </div>
                </div>
            {%- endfor %}
        </div>
        <div class="row mt-3">
            {%- for i in range(19, 28) %}
                <div class="f-1 p-1">
                    <div class="box" data-box-id="{{ i }}">
                        <div class="box-header">{{ i }}</div>
                        <div class="box-body">00:00</div>
                    </div>
                </div>
            {%- endfor %}
        </div>
        <div class="row mt-3">
            {%- for i in range(28, 37) %}
                <div class="f-1 p-1">
                    <div class="box" data-box-id="{{ i }}">
                        <div class="box-header">{{ i }}</div>
                        <div class="box-body">00:00</div>
                    </div>
                </div>
            {%- endfor %}
        </div>

    </div>


    <!-- 打席時間選択モーダル -->
    <div class="modal" tabindex="-1" role="dialog" id="timerModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">打席時間の選択</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6>平日</h6>
                    {%- for time in config["weekday"] %}
                    <button class="btn btn-primary mb-2" data-time="{{ time * 60 }}">{{ time }}分</button>
                    {%- endfor %}
                    <h6>休日</h6>
                    {%- for time in config["holiday"] %}
                    <button class="btn btn-secondary mb-2" data-time="{{ time * 60 }}">{{ time }}分</button>
                    {%- endfor %}
                </div>
            </div>
        </div>
    </div>


    <!-- 打席使用終了モーダル -->
    <div class="modal" tabindex="-1" role="dialog" id="endUseModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">打席使用の終了</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    打席の使用を終了しますか？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="endUseConfirm">OK</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 打席使用キャンセルモーダル -->
    <div class="modal" tabindex="-1" role="dialog" id="cancelModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">打席使用のキャンセル</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    打席の使用をキャンセルしますか？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">OK</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="static/script.js"></script>
</body>

</html>
